[submodule "vendor/github.com/emicklei/go-restful"]
	path = vendor/github.com/emicklei/go-restful
	url = https://github.com/emicklei/go-restful.git
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq.git
[submodule "vendor/github.com/jmoiron/sqlx"]
	path = vendor/github.com/jmoiron/sqlx
	url = https://github.com/jmoiron/sqlx.git
[submodule "vendor/github.com/mattes/migrate"]
	path = vendor/github.com/mattes/migrate
	url = https://github.com/mattes/migrate.git
[submodule "vendor/fatih/color"]
	path = vendor/fatih/color
	url = https://github.com/fatih/color.git
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql.git
[submodule "vendor/github.com/gocql/gocql"]
	path = vendor/github.com/gocql/gocql
	url = https://github.com/gocql/gocql.git
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color.git
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy.git
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty.git
[submodule "vendor/github.com/shiena/ansicolor"]
	path = vendor/github.com/shiena/ansicolor
	url = https://github.com/shiena/ansicolor.git
[submodule "vendor/gopkg.in/inf.v0"]
	path = vendor/gopkg.in/inf.v0
	url = https://gopkg.in/inf.v0.git
[submodule "vendor/github.com/square/go-jose"]
	path = vendor/github.com/square/go-jose
	url = http://github.com/square/go-jose.git
